.cardOfEpisode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px !important;
  text-align: center;
  margin: auto;
}
.cardOfEpisode a {
  margin: 5px;
  font-style: italic;
}
