.cardOfCharacters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
  height: max-content;
  min-height: 300px;
  margin-bottom: 15px;
}
.cardOfCharacters h1 {
  font-variant: small-caps;
  text-transform: lowercase;
  cursor: pointer;
}
.cardOfCharacters .portrayed {
  cursor: pointer;
  font-size: x-large;
}
.cardOfCharacters .portrayed:hover {
  color: blue !important;
}
.cardOfCharacters .portrayed:hover span {
  color: black !important;
}
.cardOfCharacters .col-sm-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.cardOfCharacters img {
  height: 100%;
  max-height: 500px;
  width: inherit;
}
.cardOfCharacters span {
  margin: 0 5px 0 5px;
  font-style: italic;
}
.cardOfCharacters .colHr {
  margin-top: 0;
}
.cardOfCharacters .rowOfCcharacter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardOfCharacters .attribute {
  font-weight: bold;
}
.cardOfCharacters .QuotesColumn {
  max-height: 400px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cardOfCharacters .QuotesColumn h2 {
  background: rgb(54, 32, 32);
  color: #fff;
  margin: 0 !important;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.cardOfCharacters .copyQuote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardOfCharacters .copyQuoteIcon {
  text-align: right;
}
.cardOfCharacters .copyQuoteIcon:hover {
  color: blue;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .cardOfCharacters img {
    max-height: 300px;
  }
}
